/*
 * This file is part of the Tug package.
 *
 * (c) François Pluchino <francois.pluchino@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~vuetify/src/components/VCard/variables';

.search-list__actions {
    justify-content: flex-end;
    display: flex;

    > .v-btn {
        margin-top: $card-btn-margin-x / 2;
        margin-bottom: $card-btn-margin-x / 2;
    }

    > .v-btn:not(:first-child) {
        margin-left: $card-btn-margin-x;
    }
}
