<!--
This file is part of the Fxp Satis Serverless package.

(c) François Pluchino <francois.pluchino@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<v-app>
    <v-slide-x-transition>
        <v-navigation-drawer v-model="drawer" fixed clipped app width="250" v-if="$store.getters.isAuthenticated">
            <v-list subheader>
                <v-subheader>{{ 'menu.composer'|translate }}</v-subheader>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="accent">folder</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'menu.repositories'|translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="accent">insert_drive_file</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'menu.packages'|translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

            <v-list subheader>
                <v-subheader>{{ 'menu.system'|translate }}</v-subheader>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="secondary">vpn_key</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'menu.api_keys'|translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="secondary">settings</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'menu.parameters'|translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

            <v-divider v-if="$store.getters.isAuthenticated"></v-divider>

            <v-list dense v-if="$store.getters.isAuthenticated">
                <v-list-tile @click.stop="logout()" replace>
                    <v-list-tile-action>
                        <v-icon>exit_to_app</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>{{ 'security.logout'|translate }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

        </v-navigation-drawer>
    </v-slide-x-transition>

    <v-slide-y-transition>
        <v-toolbar dark color="light-blue" fixed app clipped-left v-if="$store.getters.isAuthenticated">
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>{{ 'app.name'|translate }}</v-toolbar-title>
        </v-toolbar>
    </v-slide-y-transition>

    <v-content>
        <v-container fluid fill-height>
            <router-view></router-view>
        </v-container>
    </v-content>
</v-app>
