<!--
This file is part of the Fxp Satis Serverless package.

(c) François Pluchino <francois.pluchino@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<v-app>
    <snackbar></snackbar>

    <v-navigation-drawer v-model="drawer" fixed clipped app width="250" v-if="$store.getters['auth/isAuthenticated']">
        <v-list>
            <v-list-tile ripple active-class="grey lighten-3 accent--text" :to="{name: 'home'}">
                <v-list-tile-action>
                    <v-icon color="accent">home</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ $t('menu.home') }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <v-list subheader>
            <v-subheader>{{ $t('menu.composer') }}</v-subheader>
            <v-list-tile ripple active-class="grey lighten-3 accent--text" :to="{name: 'repositories'}">
                <v-list-tile-action>
                    <v-icon color="accent">folder</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ $t('menu.repositories') }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile ripple active-class="grey lighten-3 accent--text">
                <v-list-tile-action>
                    <v-icon color="accent">insert_drive_file</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ $t('menu.packages') }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <v-list subheader>
            <v-subheader>{{ $t('menu.system') }}</v-subheader>
            <v-list-tile ripple active-class="grey lighten-3 accent--text">
                <v-list-tile-action>
                    <v-icon color="secondary">vpn_key</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ $t('menu.api_keys') }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-list-tile ripple active-class="grey lighten-3 accent--text">
                <v-list-tile-action>
                    <v-icon color="secondary">settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ $t('menu.parameters') }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <v-divider v-if="$store.getters['auth/isAuthenticated']"></v-divider>

        <v-list dense v-if="$store.getters['auth/isAuthenticated']">
            <v-list-tile ripple @click.stop="logout()">
                <v-list-tile-action>
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ $t('security.logout') }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>

    <router-view name="toolbar"></router-view>

    <v-content>
        <v-container fluid fill-height>
            <v-slide-x-reverse-transition mode="out-in">
                <router-view></router-view>
            </v-slide-x-reverse-transition>
        </v-container>
    </v-content>
</v-app>
