<!--
This file is part of the Fxp Satis Serverless package.

(c) François Pluchino <francois.pluchino@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<v-layout row justify-center>
    <v-dialog v-model="value" persistent fullscreen hide-overlay transition="fade-transition">
        <v-card height="100%">
            <v-layout align-center justify-center column fill-height>
                <v-progress-circular indeterminate :size="46" :color="progressColor"></v-progress-circular>
                <h1 v-if="message != null">{{ message }}</h1>
            </v-layout>
        </v-card>
    </v-dialog>
</v-layout>
