<!--
This file is part of the Fxp Satis Serverless package.

(c) François Pluchino <francois.pluchino@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
-->

<v-layout column align-center justify-center>
    <v-icon size="16em" color="accent">loyalty</v-icon>
    <h1 class="pb-4 accent--text">{{ 'app.name'|translate }}</h1>
    <h3>{{ 'app.description'|translate }}</h3>
    <v-btn color="accent" ripple class="mt-5">{{ 'page.home.actions.add_repository'|translate }}</v-btn>
</v-layout>
