/*
 * This file is part of the Tug package.
 *
 * (c) François Pluchino <francois.pluchino@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.v-btn {
    &.no-top-radius {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &.no-bottom-radius {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &.btn-content {
        height: auto !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;

        .v-btn__content {
            white-space: normal;
            flex-direction: column;
            max-width: 100%;
        }
    }
}
