/*
 * This file is part of the Tug package.
 *
 * (c) François Pluchino <francois.pluchino@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.v-card {
    &:not([class*="elevation-"]) {
        border: 1px solid transparent;
    }
}

@include theme('v-card') using($material) {
    &:not([class*="elevation-"]) {
        border-color: map-deep-get($material, 'card-border-color');
    }
}

.v-dialog--fullscreen {
    .v-card {
        border: none;
        border-radius: 0;
    }
}
