/*
 * This file is part of the Tug package.
 *
 * (c) François Pluchino <francois.pluchino@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import "~vuetify/src/components/VIcon/variables";

.v-icon {
    user-select: none;

    &.fa,
    .fas {
        font-size: $icon-size - 3;
    }

    &--dense {
        &.fa,
        .fas {
            font-size: $icon-size-dense - 6;
        }
    }
}
